force-app/main/default/flows/Name_AutoNumber.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>SetingNumber</name>
        <label>割り当て</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>SetNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetingName</targetReference>
        </connector>
    </assignments>
    <description>事故受付・伝言管理オブジェクトの受付番号：Nameの値をTCIとWELで判別できるようにします。</description>
    <environments>Default</environments>
    <formulas>
        <name>Number</name>
        <dataType>String</dataType>
        <expression>IF (CONTAINS({!$UserRole.Name}, &apos;WEL&apos;), &quot;W-&quot; &amp; IF(ISBLANK( {!GetNumber} ) ,&quot;000001&quot;,  LPAD( TEXT( VALUE( {!GetNumber} ) +1 ) , 6 , &apos;0&apos; ) ), &quot;T-&quot; &amp; IF(ISBLANK( {!GetNumber} ) ,&quot;000001&quot;,  LPAD( TEXT( VALUE( {!GetNumber} ) +1 ) , 6 , &apos;0&apos; ) ))</expression>
    </formulas>
    <interviewLabel>受付番号_自動採番 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>受付番号_自動採番</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SearchNumber</name>
        <label>件数取得</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetingNumber</targetReference>
        </connector>
        <object>Management__c</object>
        <outputAssignments>
            <assignToReference>GetNumber</assignToReference>
            <field>AutoNumeralNumber__c</field>
        </outputAssignments>
        <sortField>AutoNumeralNumber__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>SetingName</name>
        <label>値の設定</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SetNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SearchNumber</targetReference>
        </connector>
        <object>Management__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SetNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
